
html {
    background: #ddd;  
    height: 100%;
    display: flex;
  }
  body {
    width: 100%;
    margin: auto;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }

  .todo-list {
    background: #fff;
    font-size: 15px;
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    padding: 8px 16px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  }
  .button {
    outline: none;
    padding: 8px;
    font-size: 15px;
    border: 0px solid;
    border-radius: 5px;
    color: white;
}
.button[disabled] {
    opacity: 0.3;
}
.button.purple {
    background: rgb(197, 29, 197);
}
.button.purple:hover {
    background: rgb(150, 7, 150);
}
.button.purple:active {
    background: rgb(197, 29, 197);
}
.button.blue {
    background: #25b0bc;
}
.button.blue:hover {
    background: #166b72;
}
.button.blue:active {
    background: #25b0bc;
}

.file-input {
    padding: 2px;
    background: #f8f8f8;
}
.file-input > .text {
    outline: none;
    padding: 0px 10px;
    font-size: 15px;
    
    height: 46px;
    background: transparent;
    border: 0px solid;
}

.todo {
    display: block;
    position: relative;
    padding: 1em 1em 1em 16%;
    margin: 0 auto;
    cursor: pointer;
    border-bottom: solid 1px #ddd;
}
.todo:last-child {
    border-bottom: none;
}

.todo__state {
    position: absolute;
    top: 0;
    left: 0;
   margin-top: 20px;
   margin-left: 10px;
}
.todo__text {
    color: #076b74;
    text-align: left;
    
}

